@model gicmart.Areas.User.Models.userprofile
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_master.cshtml";
}

<!--page title end-->
<br />
@using (Html.BeginForm("userprofile", "userprofile", FormMethod.Post))
{
<section class="content" style=" ">
         <div class="row mar_gin" style="width:1364px">
              <div class="col-md-8 col-md-offset-2" style=" ">
                   <div id="basic-data" class="form-wizard active"><br />
                        <h4 class="col-md-12"><b>Your Profile</b></h4><br /><br />
                        <div class="col-md-6">
                             <div class="form-group">
                                  <label>Sponsor ID</label>
                                  @Html.TextBoxFor(m => m.sponsorid, new { @class="form-control",required = "required" ,value= Model.sponsorid })
                             </div>
                        </div>
                        <div class="col-md-6">
                             <div class="form-group">
                                   <label>Pin</label>
                                  @Html.TextBoxFor(m => m.pin, new { @class="form-control",required = "required" })
                             </div>
                        </div>
                        <div class="col-md-6">
                             <div class="form-group">
                                  <label>User ID</label>
                                  @Html.TextBoxFor(m => m.userid, new { @class="form-control",required = "required" })
                             </div>
                        </div>
		                <div class="col-md-12">
                             <div class="col-md-12">
                                  <h4>Basic Information</h4>	
			                 </div>
		
		                </div>
                        <div class="col-md-12">
                             <div class="form-group">
                                 <label>Name</label>
                                  @Html.TextBoxFor(m => m.name, new { @class="form-control",required = "required" })
                             </div>
                        </div>
                       <div class="col-md-6">
                            <div class="form-group">
						         <label>Mobile Number</label>
                                 @Html.TextBoxFor(m => m.mobileno, new { @class="form-control",required = "required" })
                            </div>
                       </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                 <label>Password</label>
                                 @Html.TextBoxFor(m => m.password, new { @class="form-control",required = "required" })
                            </div>
                       </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                 <label class="control-label " for="pancardno"> Pan Card Number </label>
                                 @Html.TextBoxFor(m => m.pancardno, new { @class="form-control",required = "required" })
                            </div>
                       </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                 <label class="control-label " for=""> Nominee Name </label>
                                 @Html.TextBoxFor(m => m.nominee, new { @class="form-control",required = "required" })
                            </div>
                       </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                 <label>Address</label>
                                 @Html.TextBoxFor(m => m.address, new { @class="form-control",required = "required" })
                            </div>
                       </div>
                       <div class="col-md-6">
                             <div class="form-group">
                                  <label>City</label>
                                  @Html.TextBoxFor(m => m.city, new { @class="form-control",required = "required" })
                             </div>
                       </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                  <label>State</label>
                                 @Html.TextBoxFor(m => m.state, new { @class="form-control",required = "required" })
                            </div>
                       </div>
                       <h4 class="col-md-12"> Update Bank Information </h4>
		               <div class="col-md-12">
			                Last Update Bank Detail:&nbsp;&nbsp;&nbsp;17-08-2017&nbsp;&nbsp;&nbsp;<a href="viewbank.php?memberid=" style="background:red;color:#fff;padding:2px;border-radius:7px">View</a>
		               </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                 <label class="control-label " for=""> Holder Name </label>
                                 @Html.TextBoxFor(m => m.holdername, new { @class="form-control",required = "required" })
                            </div>
                       </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                 <label class="control-label " for=""> Account Number </label>
                                 @Html.TextBoxFor(m => m.accountno, new { @class="form-control",required = "required" })
                            </div>
                       </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                 <label class="control-label" for="">IFSC Code</label>
                                 @Html.TextBoxFor(m => m.ifsccode, new { @class="form-control",required = "required" })
                            </div>
                       </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                 <label class="control-label" for="">Bank Name</label>
                                 @Html.TextBoxFor(m => m.bankname, new { @class="form-control",required = "required" })
                            </div>
                       </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                  <label class="control-label" for="">Profile Photo</label>
                                 @Html.TextBoxFor(m => m.name, new { @class="form-control",required = "required" })
                                  <input type="file" name="pimage" id="pimage" class="form-control" />
                            </div>
                       </div>
		               <div class="col-md-6">
                            <div class="form-group">
                                 <label class="control-label" for="">KYC Photo</label>
                                 @Html.TextBoxFor(m => m.name, new { @class="form-control",required = "required" })
                                 <input type="file" name="kyc" id="pimage" class="form-control" />
                            </div>
                       </div>
                       <div class="col-md-12">
                            <div class="form-group">

                                 <input type="submit" name="updateprofile" class="btn btn-primary" value="Submit Now" />
                            </div>
                       </div>
                     </div>
               </div>
          </div>
</section>
}


