@model gicmart.Models.users
@{
    ViewBag.Title = "registration";
    Layout = "~/Views/Shared/_master.cshtml";
}
<div style="background-color:steelblue; width:1350px;height:100px;margin-left:-105px;margin-right:0px">
    @*<div style="float:left;height:100px;padding:40px"><h4 style="color:lightskyblue">business plan</h4></div>*@
    <div style="float:left;color:white;padding:40px;height:100px"><h4><a href="@Url.Action("registration", "registration")" style="color:white">Registration</a></h4></div>
    <div style="float:right;padding-right:100px;color:white;height:100px">
       <div style="float:left;color:white;padding:40px;height:100px"><h4><a href="@Url.Action("index", "home")" style="color:lightskyblue">home</a></h4></div>
       <div style="float:right;color:white;height:100px;padding:40px"><h4><a href="@Url.Action("login", "login")" style="color:lightskyblue">login</a></h4></div>     
    </div>
</div>
<br />
@using (Html.BeginForm("register", "registration", FormMethod.Post))
    {
<div class="container" style="">
        <div class="form-group" style="margin-left:100px">
            @Html.LabelFor(Model => Model.userid, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.userid, new { @class="form-control",required = "required"})

             @*<div><label for="existinguid">Existing UserId:</label></div>
             <input type="email" class="form-control" id="email" placeholder="Enter Existing UserId" name="email" style="width:400px">*@
        </div>
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.sponsorid, htmlAttributes: new { @class="control-label"})
           @Html.TextBoxFor(Model => Model.sponsorid, new { @class="form-control"})
          
             @*<div><label for="sponsorid">Sponsor ID:</label></div>
             <input type="email" class="form-control" id="pwd" placeholder="Enter Sponsor ID" name="pwd" style="width:400px">*@
        </div>   
        <div class="form-group" style="margin-left:100px">
            @Html.LabelFor(Model => Model.pin, htmlAttributes: new { @class="control-label"})
            @Html.TextBoxFor(Model => Model.pin, new { @class="form-control"})

             @*<div><label for="existinguid">Pin:</label></div>
             <input type="text" class="form-control" id="pin" placeholder="Enter Pin" name="pin" style="width:400px">*@
        </div>
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.sponsorname, htmlAttributes: new { @class="control-label"})
            @Html.TextBoxFor(Model => Model.sponsorname, new { @class="form-control"})

             @*<div><label for="sponsorid">Sponsor Name:</label></div>
             <input type="text" class="form-control" id="spname" placeholder="Enter Sponsor Name" name="spname" style="width:400px">*@
        </div>
        <br /><br />
        <div style="margin-left:100px">Basic Information</div>
        <br />
        <div class="form-group" style="margin-left:100px">
            @Html.LabelFor(Model => Model.name, htmlAttributes: new { @class="control-label"})
            @Html.TextBoxFor(Model => Model.name, new { @class="form-control"})

             @*<div><label for="sponsorid">Name             Father/ Husband Name     Surname:</label></div>
             <input type="text" class="form-control" id="spnf/hsname" placeholder="Enter Name  Father/ Husband Name  Surname" name="spname" style="width:900px">*@
        </div>
        <div class="form-group" style="margin-left:100px">
            @Html.LabelFor(Model => Model.mobileno, htmlAttributes: new { @class="control-label"})
            @Html.TextBoxFor(Model => Model.mobileno, new { @class="form-control"})

             @*<div><label for="existinguid">Mobile Number:</label></div>
             <input type="email" class="form-control" id="mobileno" placeholder="Enter Mobile Number" name="mobile no" style="width:400px">*@
        </div>
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.password, htmlAttributes: new { @class="control-label"})
            @Html.TextBoxFor(Model => Model.password, new { @class="form-control"})
             @*<div><label for="sponsorid">Password:</label></div>
             <input type="email" class="form-control" id="pwd" placeholder="Enter Password" name="pwd" style="width:400px">*@
        </div>   

        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.pancardno, htmlAttributes: new { @class="control-label"})
            @Html.TextBoxFor(Model => Model.pancardno, new { @class="form-control"})

             @*<div><label for="existinguid">Pan Card Number:</label></div>
             <input type="text" class="form-control" id="pancardno" placeholder="Enter Pan Card Number" name="pancard" style="width:400px">*@
        </div>
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.nomineename, htmlAttributes: new { @class="control-label"})
            @Html.TextBoxFor(Model => Model.nomineename, new { @class="form-control"})

             @*<div><label for="sponsorid">Nominee Name:</label></div>
             <input type="email" class="form-control" id="nomineename" placeholder="Enter Nominee Name" name="nominee" style="width:400px">*@
        </div>   

        <div class="col-md-6">
            <div class="form-group" style="margin-left:80px">
                 @Html.LabelFor(Model => Model.address, htmlAttributes: new { @class="control-label"})
                @Html.TextBoxFor(Model => Model.address, new { @class="form-control"})

               @* <label>Address</label>
                <textarea class="form-control" rows="5" name="address" placeholder="address" style="width:400px"></textarea>*@
            </div>
        </div>
       
		<div class="col-md-6" >
            <div class="form-group" style="margin-left:20px">
                @Html.LabelFor(Model => Model.state, htmlAttributes: new { @class="control-label"})
                @Html.TextBoxFor(Model => Model.state, new { @class="form-control"})

                @*<label>State</label>
                <input type="text" placeholder="Enter State"  name="state" class="form-control" style="width:400px">*@
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group" style="margin-left:20px">
                @Html.LabelFor(Model => Model.city, htmlAttributes: new { @class="control-label"})
                @Html.TextBoxFor(Model => Model.city, new { @class="form-control"})
                
               @* <label>City</label>
                <input type="text" placeholder="Enter City"  name="city" class="form-control" style="width:400px">*@
            </div>
        </div>

        <div class="col-md-12" style="margin-left:85px">
          <div class="form-group">
              @Html.CheckBoxFor(Model => Model.termandcondition, new {@class="form-control" })
              @*@Html.LabelFor(Model => Model.termandcondition, htmlAttributes: new { @class="form-control"})*@
            
             <label><input required type="checkbox"> Term & Condition</label><br /><br />
             <button type="submit" class="btn btn-default" style="margin-left:400px">Submit</button>
          </div>
        </div> 
</div>
}