@model gicmart.Models.users
@{
    ViewBag.Title = "registration";
    Layout = "~/Views/Shared/_master.cshtml";
}
<div style="background-color:steelblue; width:118%;height:100px;margin-left:-105px;margin-right:0px">
    @*<div style="float:left;height:100px;padding:40px"><h4 style="color:lightskyblue">business plan</h4></div>*@
    <div style="float:left;color:white;padding:40px;height:100px"><h4><a href="@Url.Action("registration", "registration")" style="color:white">Registration</a></h4></div>
    <div style="float:right;padding-right:100px;color:white;height:100px">
       <div style="float:left;color:white;padding:40px;height:100px"><h4><a href="@Url.Action("index", "home")" style="color:lightskyblue">home</a></h4></div>
       <div style="float:right;color:white;height:100px;padding:40px"><h4><a href="@Url.Action("login", "login")" style="color:lightskyblue">login</a></h4></div>     
    </div>
</div>
<br />
@using (Html.BeginForm("register", "registration", FormMethod.Post))
    {
     <div class="container" style="">
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.userid, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.userid, new { @class="form-control",required = "required"})
        </div>
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.sponsorid, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.sponsorid, new { @class="form-control",required = "required"})
        </div>   
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.pin, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.pin, new { @class="form-control" ,required = "required"})
        </div>
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.sponsorname, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.sponsorname, new { @class="form-control" ,required = "required"})
        </div>
        <br /><br />
        <div style="margin-left:100px">Basic Information</div>
        <br />
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.name, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.name, new { @class="form-control" ,required = "required"})
        </div>
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.mobileno, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.mobileno, new { @class="form-control",required = "required"})
        </div>
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.password, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.password, new { @class="form-control" ,required = "required"})
        </div>   
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.pancardno, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.pancardno, new { @class="form-control" ,required = "required"})
        </div>
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.nomineename, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.nomineename, new { @class="form-control" ,required = "required"})
        </div>   
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.address, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.address, new { @class="form-control" ,required = "required"})
        </div>
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.state, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.state, new { @class="form-control" ,required = "required"})
        </div>
        <div class="form-group" style="margin-left:100px">
             @Html.LabelFor(Model => Model.city, htmlAttributes: new { @class="control-label"})
             @Html.TextBoxFor(Model => Model.city, new { @class="form-control" ,required = "required"})    
        </div>     
        <div style="margin-left:100px;width:220px;height:auto">
            <div style="float:left;width:20px;height:auto">@Html.CheckBoxFor(Model => Model.termandcondition, new {@class="form-control" ,required = "required"})</div> 
            <div style="float:right;width:200px;height:auto">Term & Condition </div>
        </div>
        <button type="submit" class="btn btn-default" style="margin-left:400px">Submit</button>
 </div>
}